<div class="ui fixed inverted menu">
  <a href="/" class="header item">Accueil</a>
  <a href="/participations/form" class="header item">Ajouter un temps</a>
  <a href="/generalRanking" class="header item">Classement général</a>
</div>
 