<!DOCTYPE html>
<html>
  <head>
    <title>Compétition Rallye</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />

    <style>
      .main.container {
        margin-top: 7em;
      }
    </style>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <a href="/" class="header item">Accueil</a>
      <a href="/participations/form" class="header item">Ajouter un temps</a>
      <a href="/generalRanking" class="header item">Classement général</a>
    </div>
 